@import '../../style/mixin.scss';

.big-two-wrapper {
    position: relative;
}

/******************************************************************************
******************************************************************************/
.big-two-login-wrapper {
  position: relative;
  padding: var(--space-medium) 0;
  text-align: center;

  h1, h2 {
    padding: 0 0 var(--space-smallest-max) 0;
    margin: 0;
  }

  label {
    @include ariaVisible();
  }

  .pin-board {
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &, &:hover, &:focus, &:active {
        border: 0 none;
        background: transparent none no-repeat center center;
        box-shadow: none;
        outline: none;
        color: transparent;
      }
    }
  }

  .pin-card {
    position: relative;
    display: inline-block;
    border-radius: var(--card-round);
    border: 2px solid var(--color-primary-lightest);
    min-height: 60px;
    min-width: 40px;
    margin: var(--space-smallest);


    &.-focus {
      border-color: var(--color-primary);
    }

    &.-active:before {
      background-color: var(--color-primary);
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      margin: -10px 0 0 -10px;
      border: 2px solid var(--color-primary-light);
      border-radius: 100%;
      background: transparent none no-repeat center center;
    }
  }
}

.game-row {
  position: relative;

  * {
    font-size: var(--font-size-smaller);
  }


  .input-error, label {
    @include ariaVisible();
  }

  input.textfield {
    border-radius: 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border: 0 none;
    padding: var(--space-smallest-max);
  }

  input[type="submit"].button.-primary {
    padding: var(--space-smallest);
    border-radius: 2px;
    min-width: 0;
  }

  .form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .input-wrapper {
    width: 25%;
    padding: 0 var(--space-smallest) var(--space-smallest) var(--space-smallest);
    padding: 0;
    border: 1px solid #999;
    margin-bottom: -1px;

    &:last-child {
      width: auto;
      display: none;
    }
  }
}