@import '../../style/mixin.scss';

.big-two-wrapper {
    position: relative;
    max-width: var(--screen-mobile);
    margin: 0 auto;
}

/******************************************************************************
******************************************************************************/
.big-two-login-wrapper {
  position: relative;
  padding: var(--space-medium) 0;
  text-align: center;

  h1, h2 {
    padding: 0 0 var(--space-smallest-max) 0;
    margin: 0;
  }

  label {
    @include ariaVisible();
  }

  .pin-board {
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &, &:hover, &:focus, &:active {
        border: 0 none;
        background: transparent none no-repeat center center;
        box-shadow: none;
        outline: none;
        color: transparent;
      }
    }
  }

  .pin-card {
    position: relative;
    display: inline-block;
    border-radius: var(--card-round);
    border: 2px solid var(--color-primary-lightest);
    min-height: 60px;
    min-width: 40px;
    margin: var(--space-smallest);


    &.-focus {
      border-color: var(--color-primary);
    }

    &.-active:before {
      background-color: var(--color-primary);
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      margin: -10px 0 0 -10px;
      border: 2px solid var(--color-primary-light);
      border-radius: 100%;
      background: transparent none no-repeat center center;
    }
  }
}

/******************************************************************************
******************************************************************************/
.big-tow-game-wrapper {
  margin-top: var(--space-smallest);
  overflow: hidden;
  border: 1px solid var(--color-grey);
  border-radius: var(--card-round);

  .game-row {
    margin: 0 0 -1px -1px;
    &.-player .cell:first-child {
      margin-bottom: 1px;
      border-bottom-width: 1px;
    }
  }

  .data-holder {
    display: flex;
    flex-direction: column-reverse;
  }
}

.game-row {
  position: relative;
  text-align: center;

  &.-player {
    input.textfield {
      font-weight: 700;
      text-align: center;
    }

    .cell {
      border-bottom-width: 2px;
    }
  }

  &.-data {

  }

  * {
    font-size: var(--font-size-smaller);
  }

  .result {
    padding-top: 2px;
    font-size: var(--font-size-smallest);
    white-space: nowrap;
    .count {
      padding-left: 4px;
    }
  }

  .input-error, label {
    @include ariaVisible();
  }

  input.textfield {
    border-radius: 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border: 0 none;
    padding: var(--space-smallest-max);
    text-align: center;

    &, &:hover, &:focus, &:active {
      outline: none;
    }


    &:focus {
      outline: none;
      background-color: #eee;
    }

    &.-invalid {
      background-color: var(--color-error-pastel);
    }
  }

  input[type="submit"].button.-primary {
    padding: var(--space-smallest);
    border-radius: 2px;
    min-width: 0;
  }

  .form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .input-wrapper {
    padding: 0;
    margin: 0;
  }

  .cell {
    position: relative;
    width: 25%;
    padding: 0;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: var(--color-grey);

    &.-timing-2:after, &.-timing-3:after, &.-timing-4:after {      
      position: absolute;
      right: 2px;
      top: 2px;
      font-size: var(--font-size-smallest);
      z-index: 3;
    }

    &.-timing-2:after {      
      content: 'x2';
    }
    &.-timing-3:after {      
      content: 'x3';
    }
    &.-timing-4:after {      
      content: 'x4';
    }

    &:first-child {
      padding: 2px 2px 2px 4px;
      width: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      background-color: var(--color-light);
      font-weight: 600;
    }

    /*
    &:last-child {
      width: auto;
      display: none;
    }
    */
  }
}

.game-card-row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid var(--color-grey);
  margin: var(--space-smallest) 0;
  padding: var(--space-smallest) var(--space-small);
  text-decoration: none;
  border-radius: var(--card-round);

  &.-delete-game:after {
    background-image: url('../../../assets/icon/cross.svg');    
  }

  .counter, .date {
    font-size: var(--font-size-smallest);
    padding-top: 5px;
  }

  .counter {
    min-width: 20px;    
  }

  .date {
    padding-right: var(--space-small-min);
  }

  &:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -15px 0 0 0;
    background: transparent none no-repeat center center / 60% auto;
    background-image: url('../../../assets/icon/arrow-right.svg');
    opacity: .6;
  }
}

.big-tow-desktop-wrapper {
  &.-on-edit {
    .tool-game-btn.-add {
      visibility: hidden;
    }
  }

  section {
    padding-bottom: var(--space-medium);
  }

  .sub-title {
    padding-bottom: var(--space-smallest);

    .date {
       display: inline-block;
       font-weight: normal;
       padding-left: var(--space-smallest);
    }
  }

  .tool-game-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--color-primary-light);
    margin-left: var(--space-smallest-max);
    padding: 2px var( --space-smallest-max );
    border-radius: var(--card-round);
    font-size: var(--font-size-smaller);
    font-weight: 600;

    &.-back {
      margin-left: 0;
      margin-right: var(--space-smallest-max);
    }

    &.-double-sum {
      border: 0 none;
      float: right;

      &.-no:before {
        background-image: none;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid var(--color-grey);
        margin: 0 var(--space-smallest) -3px 0;
        background: transparent url('../../../assets/icon/checked.svg') no-repeat center center / 140% auto;
      }
    }
  }

  .game-list {
    display: flex;
    flex-direction: column-reverse;    
  }

  .amount-description {
    background-color: #eee;
    padding: var(--space-small);
    border-radius: var(--card-round);

    .player-detail {
      display: inline-block;
      margin: var(--space-smallest) var(--space-medium) var(--space-smallest) 0;
      font-size: var(--font-size-small);
    }
  }
}