@charset "UTF-8";
@-webkit-keyframes left-appending{
  0%   { left: 3rem;  opacity: 0;}
  100% { left: 0;  opacity: 1;}
}

@keyframes left-appending{
  0%   { left: 3rem;  opacity: 0;}
  100% { left: 0;  opacity: 1;}
}

/*****************************************************************************/
@-webkit-keyframes right-appending{
  0%   { left: -3rem;  opacity: 0;}
  100% { left: 0;  opacity: 1;}
}

@keyframes right-appending{
  0%   { left: -3rem;  opacity: 0;}
  100% { left: 0;  opacity: 1;}
}

/*****************************************************************************/
@-webkit-keyframes top-appending{
  0%   { opacity: 0; padding-top: 1rem; margin-bottom: -1rem;}
  100% { opacity: 1; padding-top: 0; margin-bottom: 0;}
}

@keyframes top-appending{
  0%   { opacity: 0; padding-top: 1rem; margin-bottom: -1rem;}
  100% { opacity: 1; padding-top: 0; margin-bottom: 0;}
}

/*****************************************************************************/
@-webkit-keyframes bottom-appending{
  0%   { opacity: 0; padding-bottom: 1rem; margin-top: -1rem;}
  100% { opacity: 1; padding-bottom: 0; margin-top: 0;}
}

@keyframes bottom-appending{
  0%   { opacity: 0; padding-bottom: 1rem; margin-top: -1rem;}
  100% { opacity: 1; padding-bottom: 0; margin-top: 0;}
}

/*****************************************************************************/
@-webkit-keyframes message-disappear{
  0%   { opacity: 1; max-height: 12.5rem;}
  100% { opacity: 0; max-height: 0;}
}

@-webkit-keyframes message-disappear{
  0%   { opacity: 1; max-height: 12.5rem;}
  100% { opacity: 0; max-height: 0;}
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  1% { transform: translate(-1px, -2px) rotate(-1deg); }
  2% { transform: translate(-3px, 0px) rotate(1deg); }
  3% { transform: translate(3px, 2px) rotate(0deg); }
  4% { transform: translate(1px, -1px) rotate(1deg); }
  5% { transform: translate(-1px, 2px) rotate(-1deg); }
  6% { transform: translate(-3px, 1px) rotate(0deg); }
  7% { transform: translate(3px, 1px) rotate(-1deg); }
  8% { transform: translate(-1px, -1px) rotate(1deg); }
  9% { transform: translate(1px, 2px) rotate(0deg); }
  10% { transform: translate(1px, -2px) rotate(-1deg); }
  11% { transform: translate(0, 0) rotate(0deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  1% { transform: translate(-1px, -2px) rotate(-1deg); }
  2% { transform: translate(-3px, 0px) rotate(1deg); }
  3% { transform: translate(3px, 2px) rotate(0deg); }
  4% { transform: translate(1px, -1px) rotate(1deg); }
  5% { transform: translate(-1px, 2px) rotate(-1deg); }
  6% { transform: translate(-3px, 1px) rotate(0deg); }
  7% { transform: translate(3px, 1px) rotate(-1deg); }
  8% { transform: translate(-1px, -1px) rotate(1deg); }
  9% { transform: translate(1px, 2px) rotate(0deg); }
  10% { transform: translate(1px, -2px) rotate(-1deg); }
  11% { transform: translate(0, 0) rotate(0deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
