# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Bower
bower_components/

.idea/
*.iml

.DS_Store
node_modules/
dist/
npm-debug.log

# .npmrc
/deploy/dist
*.orig

# kvt-ventures
kvt-ventures/**/Library
kvt-ventures/**/Packages
kvt-ventures/**/ProjectSettings
kvt-ventures/**/Logs