@import "./variables";
@import "./mixin";

fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;

    legend  {
        display: block;
        margin: 0;
    }
}

label, legend {
	font-weight: 600;
	font-size: $font-size-medium;
	font-family: $base-font-family;
	color: $color-font;
}

input[type="hidden"] {
    @include ariaVisible();
}

textarea,
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="search"] {
	outline: none;
	font-size: $font-size-regular;
	font-weight: normal;
	font-family: $base-font-family;
	color: $color-font;

	border: 1px solid $color-sea-green-dark;
	width: 100%;
	line-height: 1.2;
    background: $color-white none no-repeat 0 0 / auto 100%;
    padding: 0 $space-medium;
    padding-top: $space-small + 2;
    padding-bottom: $space-small + 2;
    border-radius: $border-round;
    @include transition( all, .1s, linear);

    &:focus, &:active {
        border-radius: $border-round-button;
    }

    &.small {
        min-height: 0;
        padding: $space-smallest $space-small;
    }

    &.smallest {
        min-height: 0;
        padding: ($space-smallest - 2) $space-smallest;
        font-size: $font-size-small;
    }
}

select, textarea, input {
    &:disabled {
        &, + .input-item-label {
            opacity: .7;
            font-style: italic;
        }

        &, + label {
            border-style: dashed; 
            cursor:  default;       
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    opacity: .01;
    filter: alpha(opacity=1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: $space-smallest 0 0 $space-smallest;
    outline: none;

    + label {
        max-width: 600px;
        display: inline-block;
        position: relative;
        white-space: normal;
        font-weight: normal;
       	font-size: $font-size-regular;
        cursor: pointer;

        &, + .input-label-description {
            margin: 0 $space-smallest $space-smallest 0;      
            padding: 0 $space-small $space-smallest ($space-medium + 4);
        }

        &:before, &:after {
            content: "";
            position: absolute;
            height: $space-medium - 2;
            width: $space-medium - 2;
            margin: 0;
            left: 0;
            top: 2px;
            border-radius: 2px;
        }

        &:before {
            background: $color-white none no-repeat center center / 18px auto;
            border: 1px solid $color-sea-green-dark;
        	outline-offset: 3px;
        }

        &:after {
        	right: 0;
        	text-align: center;
           	display: none;
            background: transparent url('../static/icon/checked/checked-white.svg')  no-repeat center center / auto 100%;
        }
    }
}

input[type="checkbox"] {
    &:checked {
        + label {
            border-color: transparent;

            &:before {
                background-color: $color-sea-green-dark;
            }

            &:after {
            	display: block;
            	color: $color-white;
            }
        }
    }

    &:focus {
        + label {
            &:before {
            	outline-offset: 2px;
	        	outline: 2px solid $color-sea-green-dark;
            }
        }
    }    	
}

input[type="radio"] {
    + label {
        cursor: pointer;
        &:before {
            border-radius: 100%;
        }
    }

    &:checked {
        + label {
            border-color: transparent;

            &:before {
                background-color: $color-sea-green-dark;
                border: 3px solid $color-white;
                box-shadow: 0 0 0 2px $color-sea-green-dark;
            }
        }
    }

    &:focus {
        + label {
            &:before {
	        	outline: 2px solid $color-sea-green-dark;
            }
        }
    }    	
}

textarea {
    min-height: 80px;
    resize: vertical;
    padding-left: $space-medium;
    padding-right: $space-medium;
}

/******************************************************************************
=== select box === 
******************************************************************************/
select {
    position: relative;
    width: 100%;
    min-width: 170px;
    padding: $space-small;
    padding-left: $space-small-max;
    border: 1px solid $color-sea-green-dark;
    border-radius: $border-round;

    &:hover {
        border-color: $color-focus;
    }

    &:focus, &:active {
        // @include focusFieldShadow();
    }
}


/******************************************************************************
  file-uploader
******************************************************************************/
input[type="file"] {
    border-radius: $border-round;
    background: $white none repeat 0 0;
    display: block;
    border: 1px solid $color-sea-green-dark;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    &:hover, &:focus {
        + label {
            border-style: solid;
            /*
            border-color: $color-focus;
            box-shadow: 0 0 5px $color-focus;
            */
        }
    }

    &.-invalid {
        + label {
            border-color: $color-error;
            box-shadow: 0 0 5px $color-error;

            &:hover, &:focus, &:active {
                border-color: $color-focus;
                box-shadow: 0 0 5px $color-focus;
            }
        }
    }
}

.input-wrapper.-filefield {
    position: relative;

    .input-holder.-is-dragover {
        input + label {
            background-color: $color-sea-green-dark;
            color: $color-white;
        }
    }

    input {
        @include ariaVisible();
    }

    label {
        display: block;
        border-radius: $border-round;
        background: $white none repeat 0 0;
        display: block;
        padding: 0;
        border: 1px solid $color-sea-green-dark;
        cursor: pointer;
        padding: $space-small-max;


        &:before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0 0 -10px 0;
            background: transparent none no-repeat 0 center / auto 60%;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3702 5.16C14.1908 4.9792 13.9774 4.83569 13.7422 4.73776C13.5071 4.63983 13.2549 4.58941 13.0002 4.58941C12.7455 4.58941 12.4933 4.63983 12.2582 4.73776C12.023 4.83569 11.8096 4.9792 11.6302 5.16L4.8902 11.89C4.7019 12.0783 4.59611 12.3337 4.59611 12.6C4.59611 12.8663 4.7019 13.1217 4.8902 13.31C5.07851 13.4983 5.3339 13.6041 5.6002 13.6041C5.86651 13.6041 6.1219 13.4983 6.3102 13.31L12.0002 7.54L12.0002 27C12.0002 27.2652 12.1056 27.5196 12.2931 27.7071C12.4806 27.8946 12.735 28 13.0002 28C13.2654 28 13.5198 27.8946 13.7073 27.7071C13.8948 27.5196 14.0002 27.2652 14.0002 27L14.0002 7.62L19.6902 13.31C19.7834 13.4032 19.8941 13.4772 20.016 13.5277C20.1378 13.5781 20.2683 13.6041 20.4002 13.6041C20.5321 13.6041 20.6626 13.5781 20.7845 13.5277C20.9063 13.4772 21.017 13.4032 21.1102 13.31C21.2034 13.2168 21.2774 13.1061 21.3279 12.9842C21.3783 12.8624 21.4043 12.7319 21.4043 12.6C21.4043 12.4681 21.3783 12.3376 21.3279 12.2158C21.2774 12.0939 21.2034 11.9832 21.1102 11.89L14.3702 5.16Z' fill='%2300383D'/%3E%3Crect width='26' height='2' rx='1' fill='%2300383D'/%3E%3C/svg%3E%0A");
        }
    }

    .file-list-holder {
        margin: $space-smallest 0 $space-small 0;
        border: 1px solid $color-sea-green-dark;
        border-radius: $border-round;
        background-color: $color-white;
        display: table;
        padding: 0;
        width: 100%;

        > div {            
            display: table-row;
            > div {
                display: table-cell;
                vertical-align: top;

                &:first-child {
                    width: 30px;
                }

                &:last-child {
                    padding: 4px 0 0 0;
                }

                a {
                    margin-bottom: -5px;
                }

            }
        }
    }
}

