.home-wrapper {
  position: relative;

  .home-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -1.6%;
  }  

  .home-widget {
    width: 30%;
    height: 500px;
    margin: 1.6%;
    padding: var(--space-medium);
    border-radius: var(--card-round);
    border: 1px solid #666;
    overflow: hidden;
    overflow-y: auto;
  }
}
