:root {
  --bg-color: #eee;
  --header-height: 120px;
  --footer-height: 80px;

  --font-color: #333;
  --font-family: Arial;

  --font-size-smallest: 12px; 
  --font-size-smaller: 14px; 
  --font-size-small: 16px;  
  --font-size-regular: 18px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
  --font-size-largest: 40px;

  --screen-desktop: 1400px;
  --screen-table: 980px;
  --screen-mobile: 768px;

  --space-smallest-min: 2px;
  --space-smallest: 4px;
  --space-smallest-max: 6px;
  --space-extra-small-min: 8px;
  --space-extra-small: 10px;
  --space-extra-small-max: 12px;
  --space-small-min: 14px;
  --space-small: 16px;
  --space-small-max: 18px;
  --space-medium-min: 20px;
  --space-medium: 24px;
  --space-medium-max: 26px;
  --space-large-min: 28px;
  --space-large: 30px;
  --space-large-max: 32px;
  --space-extra-large-min: 34px;
  --space-extra-large: 36px;
  --space-extra-large-max: 38px;

  --icon-btn-size-small: 30px;
  --icon-btn-size: 40px;

  --border-round: 6px;
  --border-color: #333333;

  --carousel-space: 12px;
  --carousel-space-negative: -12px;
  --carousel-bullet-size: 12px;
  --carousel-bullet-position: -6px;

  --color-primary:   #343a40;
  --color-primary-light:  #6c757d;
  --color-primary-lightest:  #a9a9a9;
  --color-secondary: #e9bd6c;
  // --color-focus:     #8F00FF;
  --color-focus:     #0099cc;

  --color-white:     #FFFFFF;
  --color-blue-light:#0099cc;
  --color-blue:      #0d6efd;
  --color-indigo:    #6610f2;
  --color-purple:    #6f42c1;
  --color-pink:      #d63384;
  --color-red:       #dc3545;
  --color-orange:    #fd7e14;
  --color-yellow:    #ffc107;
  --color-yellow-dark: #d9b660;
  --color-green:     #198754;
  --color-teal:      #20c997;
  --color-cyan:      #0dcaf0;
  --color-grey:      #6c757d;
  --color-grey-dark: #343a40;
  --color-success:   #198754;
  --color-info:      #0dcaf0;
  --color-warning:   #ffc107;
  --color-danger:    #dc3545;
  --color-error:     #B83653;
  --color-error-light: #DD5C6B;
  --color-error-pastel: #FDDEE6;
  --color-cotton: #FBFAFA;
  --color-peach: #FFEEBE;
  --color-attention: #AE5B98;
  --color-light:     #f8f9fa;
  --color-dark:      #343a40;
  --color-darkest:   #1E1E25;
  --color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@media screen and (max-width: 768px) {
    :root {
      --header-height: 60px;
      --footer-height: 60px;
      
      /*
      --font-size-smallest: 10px; 
      --font-size-smaller: 12px; 
      --font-size-small: 14px;  
      --font-size-regular: 16px;
      --font-size-medium: 26px;
      --font-size-large: 30px;
      --font-size-largest: 36px; 
      */     
    }
}