
.relative { position: relative; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-bold { font-weight: 700; }
.text-normal { font-weight: 500; }

.top-appending {
  position: relative;
  opacity: 0;
	animation-name: top-appending;
	animation-duration: .4s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}


