/* @import "~@eika/core-style"; */
@import "../../styles/variables";

.paging-wrapper {
    white-space: nowrap;
    text-align: center;
    margin: $space-medium 0;

    button, span {
        display: inline-block;
        padding: 4px 12px;
        margin: 0 6px;
        border-radius: 4px;
        font-weight: 600;
    }

    button {
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #fff;

        &.-active {
            border-color: $color-sea-green-dark;
            cursor: default;
        }        
    }
}
