registry=https://repo.intra.eika.no/artifactory/api/npm/npm-repo
always-auth=true
email=Kiet.Ve.Tran@Eika.no
//repo.intra.eika.no/artifactory/api/npm/:_auth="aDgwNTAyNDpBUDRnNXI0TFJ0cHk5NkJVSkJCSmJGanZiQ2I="
progress=false
