/*
@font-face {
  font-family: 'DIN';
  src: url('../static/font/DIN/DIN-Regular/DIN-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  src: url('../static/font/DIN/DIN-Bold/DIN-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'DIN';
  src: url('../static/font/DIN/DIN-Bold/DIN-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'DIN';
  src: url('../static/font/DIN/DIN-Medium/DIN-Medium.woff') format('woff');
  font-weight: 500;
}
*/

@import '../components/common/style/theme';
@import '../components/common/style/mixin';
@import '../components/common/style/animation';
@import '../components/common/style/typography';
@import '../components/common/style/spinner';
@import '../components/common/style/utils';
@import '../components/common/style/btns';
@import '../components/common/style/iconBtn';
@import '../components/common/style/inputWrapper';
@import '../components/common/style/checkboxAndRadio';
@import '../components/common/style/textfield';
@import '../components/common/style/selectBox';
@import '../components/common/style/fileUploader';
@import '../components/common/style/layout';

html, body, #app {
  background: $app-bg-color;
}
.app-wrapper {
  height: 100%; /*Importen*/
  /* &.-admin { border: 2px solid red; }*/
  &.-error {
    max-width: $breakpoint-md-p;
    margin: 1.25rem auto 0 auto;
  }
}

.app-header {
  position: relative;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 5px 5px $color-border-light;

  .app-cnt.layout-outer {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 14rem;
    position: relative;
  }

  .logo-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 14rem;
    padding-left: 3.5rem;

    h1 {
      padding: 0;
      margin: .5rem 0 0 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3.5rem;
      background: transparent url('../static/icon/hexagon/hexagon.svg') no-repeat .3rem center / 80% auto;    
    }
  }

  #main-nav, .navigation-list, .navigation-list > li {
    height: 100%;
    display: inline-block;
  }

  #main-nav {
    width: 100%;
  }

  ul.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    white-space: nowrap;
    text-align: right;
  }

  .nav-link {
    display: inline-block;
    height: 100%;
    font-size: 115%;
    padding: 1.25rem 1.5rem;
    font-weight: 500;
    text-align: center;
    @include buttonActive();


    > span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        border-bottom: .1rem solid $color-border-light;
      }
    }

    &.-active {
      font-weight: 700;
      > span:before {
        border-bottom-color: $color-font;
      }
    }
  }
}

.app-body {
  position: relative;
  padding: 1rem 0;
}

.action-test {
  &:before {
    content: '';
    display: block;
    margin: 20px 0;
    height: 80px;
    background: transparent none no-repeat center center / auto 90%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0C24.0666 0 18.2664 1.75947 13.3329 5.05591C8.39943 8.35235 4.55426 13.0377 2.28363 18.5195C0.0129985 24.0013 -0.581102 30.0333 0.576455 35.8527C1.73401 41.6721 4.59123 47.0176 8.78681 51.2132C12.9824 55.4088 18.3279 58.266 24.1473 59.4236C29.9667 60.5811 35.9987 59.987 41.4805 57.7164C46.9623 55.4458 51.6477 51.6006 54.9441 46.6671C58.2406 41.7336 60 35.9334 60 30C59.9913 22.0462 56.8278 14.4206 51.2036 8.79643C45.5794 3.17223 37.9538 0.00872608 30 0V0ZM9.87034 11.9506C12.4038 9.1188 15.5062 6.85344 18.9749 5.30248C22.4435 3.75151 26.2004 2.94984 30 2.94984C33.7996 2.94984 37.5565 3.75151 41.0252 5.30248C44.4938 6.85344 47.5962 9.1188 50.1297 11.9506H9.87034ZM30 57.0495C25.0669 57.0532 20.2269 55.707 16.0042 53.1567C11.7815 50.6065 8.33711 46.9493 6.0442 42.5815C3.75129 38.2137 2.69726 33.3018 2.9963 28.3778C3.29534 23.4538 4.93604 18.7055 7.74067 14.6473H31.1901C30.0419 15.7829 29.2081 17.1971 28.7703 18.7516C18.2407 19.0813 15.9758 23.5451 15.9758 27.3231C15.9758 29.3571 16.9648 30.8308 18.6725 31.4901C18.6725 31.5231 18.6725 31.556 18.6725 31.5923C18.6725 38.8451 21.1253 43.0648 23.1824 45.3198C25.5033 47.8615 28.3517 49.022 30 49.022C31.6484 49.022 34.5033 47.8615 36.8275 45.3165C38.8846 43.0615 41.3374 38.8517 41.3374 31.589C41.3374 31.5527 41.3374 31.5198 41.3374 31.4868C43.0385 30.8275 44.0341 29.3538 44.0341 27.3198C44.0341 23.5912 41.822 19.1868 31.6154 18.7681C32.3473 17.0143 34.4473 14.6473 37.5099 14.6473H52.2528C55.0571 18.705 56.6977 23.4527 56.997 28.3761C57.2963 33.2995 56.2429 38.211 53.9508 42.5786C51.6586 46.9462 48.2152 50.6034 43.9935 53.1542C39.7717 55.7049 34.9325 57.052 30 57.0495ZM30 31.8758H38.733C38.6703 38.1396 36.6264 41.6802 34.9055 43.5626C32.9275 45.722 30.7484 46.4209 30 46.4209C29.2517 46.4209 27.0627 45.722 25.0912 43.5626C23.3703 41.6802 21.3264 38.1264 21.2638 31.8758H30ZM20.8879 29.2714C18.8308 29.2714 18.5802 28.2264 18.5802 27.3198C18.5802 23.3473 22.4176 21.333 30 21.333C37.5824 21.333 41.4297 23.3473 41.4297 27.3198C41.4297 28.2264 41.1659 29.2714 39.122 29.2714H20.8879Z' fill='%2384BD00'/%3E%3C/svg%3E%0A");
      @include animation( shake, 3s, ease, 0 );
      @include animation-repeat();
  }
}

@media screen and (max-width: $breakpoint-sm) { 
  .app-header {
    .logo-holder {
      width: 12rem;
      padding-left: 3rem;

      h1 {
        margin-top: .4rem;
      }

      &:before {
        width: 3rem;
      }
    }
    
    .nav-link {
      padding: 1rem .6rem;
    }
  }
}